<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style type="text/css">

body {background-color: rgba(155, 162, 129, 0.31)
}
h1 {text-align:center}
h2 {text-align:center}
h3 {text-align:center}

</style>
</head>
<body>
    <h1>{{ bigtitle }}</h1>
    <h2>{{ introduction }}</h2>
    <h3><a href={{ show_link }}>{{ show }}</a> </h3>
    <h3><a href={{ search_link }}> {{ search }}</a></h3>
    <h3><a href={{ time_search_link }}> {{ time_search }}</a></h3>
    <h3><a href={{ multi_search_link }}> {{ multi_search }}</a></h3>
</body>
</html>